* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
  cursor: default;
}

.container {
  width: 50%;
  min-width: 500px;
  height: 100vh;
  overflow: hidden;
  padding: 20px;
  font-family: sans-serif;
}
header h1 {
  color: #333;
}
header h1 span {
  color: #070757;
}
input {
  height: 1.35rem;
  outline: none;
  border: none;
  border: 2px rgb(92, 90, 90) solid;
  border-radius: 5rem;
  padding: 0.5rem;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
}
main form {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 10px 0;
}

main form label {
  font-size: 1.2rem;
  margin: 5px;
}

form button {
  width: fit-content;
  padding: 0.15em 2em;
  border-radius: 8px;
  border: 2px rgb(92, 90, 90) solid;
  background-color: #070757;
  color: rgb(92, 90, 90);
  font-size: 1.3rem;
  font-weight: 700;
  margin: 5px 0;
  cursor: pointer;
}
footer table {
  width: 100%;
  border-collapse: collapse;
  border: 1px black solid;
  text-align: center;
  vertical-align: middle;
}
thead {
  background-color: #333;
  color: white;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 2%;
}
th,
td {
  padding: 8px;
  border-right: 1px rgb(170, 156, 156) solid;
}
thead th {
  width: 30%;
}
thead th:nth-child(3) {
  width: 20%;
}
thead th:last-of-type {
  width: 10%;
}
tbody tr {
  text-transform: capitalize;
}
tbody tr:nth-child(odd) {
  background-color: #fff;
}

tbody tr:nth-child(even) {
  background-color: #eee;
}
.fa-solid {
  cursor: pointer;
}
.warning {
  color: red;
  font-size: 0.8rem;
}
.resultRow {
  display: flex;
  justify-content: space-between;
  background-color: #159115;
  padding: 0.3em 1em;
  text-transform: capitalize;
  /* font-size: 1.4rem; */
}
.resultRow button {
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  /* font-size: 1.4rem; */
  aspect-ratio: 1/1;
  width: 25px;
  height: 25px;
  color: white;
  background-color: red;
  border-radius: 50%;
  font-weight: 700;
  cursor: pointer;
}
